fieldset { 
	border:1px solid #E6E6E6;
	padding: 15px;
	padding-bottom: 35px;
	}
legend {
  padding: 0.2em 0.5em;
  border:1px solid #E6E6E6;
  color:#000000;
  font-size:100%;
  text-align:right;
  margin-left: 25px;
  }

  

 